# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
logs/

# Markdown files (except README.md)
*.md
!README.md

# Large files and datasets
*.csv
*.json
*.pkl
*.h5
*.bin

# PDF and Office documents
*.pdf
*.docx
*.xlsx